body{

font-family:Arial;

margin:0;

background:linear-gradient(135deg,#FFD700,#FFC300);

}



nav{

display:flex;

justify-content:space-between;

padding:15px;

background:black;

color:white;

}



nav ul{

display:flex;

gap:20px;

list-style:none;

cursor:pointer;

}



.section{

display:none;

padding:40px;

text-align:center;

}



.active{

display:block;

}



.hero{

padding:100px;

}



button{

padding:12px 25px;

border:none;

background:black;

color:gold;

border-radius:30px;

cursor:pointer;

transition:0.3s;

}



button:hover{

transform:scale(1.1);

}



.booking-box{

background:white;

padding:30px;

max-width:400px;

margin:auto;

border-radius:10px;

}



input,select{

width:100%;

padding:10px;

margin:10px 0;

}



.cards{

display:grid;

grid-template-columns:repeat(auto-fit,minmax(200px,1fr));

gap:20px;

}



.card{

background:white;

padding:40px;

border-radius:10px;

box-shadow:0 0 10px gray;

}
